# Auth0 - Regular Web Application
AUTH0_SECRET=  # openssl rand -hex 32
AUTH0_DOMAIN=your-tenant.us.auth0.com
AUTH0_CLIENT_ID=HC3rvNWhUNqVc3bl3QiT7WaMrhdIamUF
AUTH0_CLIENT_SECRET=Rr_yxhj2K52AhVj4UEdOYIOv2xKOQW8JxVmtuV7vr4EIv9IL5yLcQ09FwfLLjY-0
APP_BASE_URL=http://localhost:3000

# Auth0 AI / Token Vault (M2M app with Token Vault grant enabled)
AUTH0_AI_DOMAIN=your-tenant.us.auth0.com
AUTH0_M2M_CLIENT_ID=6Swglv0rhj25d1yaI65MTK2uiJqoHA3Z
AUTH0_M2M_CLIENT_SECRET=oqmFKRJUcQOB7lTI5GG0ZkpFP4JhV8dIqjG2jZL4BudPY4j4lX_-4CAVblh0Oa3C

# AI Provider
ANTHROPIC_API_KEY=
OPENAI_API_KEY=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
